
<div class="container">
    <div class="tabs">
        <div class=""></div>
        <div class="">
            <button class="btn btn-light btns" style="background-color: black;color: white;" routerLink="">All</button>
            <button class="btn btn-light btns"
            routerLink="/laptops"
            >Laptops</button>
            <button class="btn btn-light btns" 
            routerLink="/mobiles">Mobiles</button>
            <button class="btn btn-light btns hide" >Colors</button>
            <button class="btn btn-light btns hide" >Science</button>
            <button class="btn btn-light btns hide" >Arts</button>
            <button class="btn btn-light btns hide" >Politics</button>
            <button class="btn btn-light btns hide" >Camera</button>
            <button class="btn btn-light btns hide" >Food</button>
            <button class="btn btn-light btns hide " >Books</button>
            <button class="btn btn-light btns hide" >Crafts</button>
            <button class="btn btn-light btns hide" >Games</button>
            <button class="btn btn-light btns hide" >Lights</button>
        
            
            
      
        </div>
      </div>
    <div class="banner">
        <img src="../../../assets/images/banner.png" alt="">
    </div>
    <div class="list-container">
        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p>Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        <div class="vid-list">
            <img src="https://i.ytimg.com/vi/PbMWqiMjCpM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCtu7czViyjgM4yknJi8-2Qm8x0EQ" class="thumbnail">
            <div class="flex-div">
                <img src="../../../assets/avatar3.jpg">
                <div class="vid-info">
                    <p >Is the OnePlus 6 still Worthy in 2021 ?</p>
                    <p class="info">Karthik Durai</p>
                    <p class="info">1M views &bull; 1 hour ago</p>
                </div>
            </div>
        </div>

        

        
    </div>

</div>